      <footer class="footer">
        <p> &copy;2016 NNS Group. Last updated: 02/25/2016 </p>
      </footer>
      
      <!-- GoStats Simple HTML Based Code -->
      <a target="_blank" title="web analytics" href="http://gostats.com"><img alt="web analytics"
      src="https://ssl.gostats.com/bin/count/a_483666/t_5/i_1/ssl_monster.gostats.com/counter.png"
      style="border-width:0" /></a>
      <!-- End GoStats Simple HTML Based Code -->
      
      <a href="http://www.clustrmaps.com/map/nns.cs.tsinghua.edu.cn" title="Visitor Map for nns.cs.tsinghua.edu.cn"><img src="https://www.clustrmaps.com/map_v2.png?u=MpfG&d=Kw8723Qv323T9_xvyt58LyXBVs0Hw0fNMIRneSWfrrM" styple="border-width:0" width="1"/></a>
      
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/bootstrap.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="js/ie10-viewport-bug-workaround.js"></script>
