body {
  padding-top: 50px;
}

.nns-template {
  padding: 40px 15px;
  text-align: left;
}


table td {
	padding-left: 20px;
	vertical-align: top;
}

#carousel-cover {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


#carousel-cover img {
	width: 100%;
}

.people .avatar {
	width: 80px;
}

.people .avatar img {
	width: 120px;
}

.people .description {
	width: 380px;
}

.people h4 a {
	text-decoration: none;
}

.people h4 a:hover {
	text-decoration: underline;
}

.people td {
	padding-bottom: 10px;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a:hover.back-to-top {
	background-color: #000;
}

/* Custom page footer */
footer {
	padding-top: 8px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}
